$board-bg-color       : #ffffff;
$navbar-app-bg-color  : #c97373;
$navbar-board-bg-color: #7acbd6;
$list-bg-color        : #ebecf0;
$gap                  : 10px;
$colomn-header-height : 36px;
$colomn-footer-height : 36px;
$colomn-border-radius : 5px;
$card-border-radius   : 3px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';